.home {
    /* background-color: beige; */
    overflow: hidden;
}

.home_content {
    flex: 1;
    display: flex;
    /* justify-content: center; */
    width: 100%;
    min-height: 100%;
    /* background-color: aquamarine; */
}

@media (max-width: 1320px) {
    .home_content {
        gap: 40px;
    }
}

.home_content_modelo3d {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    min-width: 500px;
    /* padding-right: 500px; */
    /* background-color: brown; */
    /* width: 300px; */
}

.home_content_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: beige; */
    /* max-width: 60vw; */
    padding-bottom: 130px;
}

.home_content_text h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
}

.home_content_text p {
    font-weight: 700;
    font-size: 56px;
    align-self: flex-start;
    /* line-height: 90px; */
}

.home_content_text span {
    font-size: 24px;
    line-height: 80px;
    align-self: flex-start;
}

/* .home_content_text p {
    font-size: 24px;
    align-self: flex-start;
    margin: 40px 0;
} */

.home_content_text a {
    background: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;



    border: none;
    border-radius: 400px;
    padding: 20px 40px;
    color: rgb(255, 255, 255);
    background-color: #ff8500;
    /* background-color: coral; */
    /* font-weight: 700; */
    margin-top: 25px;
    font-size: 20px;
    /* line-height: 90px; */
    align-self: flex-start;
    /* transition: 0.2s; */
}

.home_content_text button:hover {
    /* transition: 0.1s; */
    /* background-color: rgb(255, 112, 60); */

    box-shadow: 0px 0px 2px 0px rgb(202, 202, 202);
}

.vision-pro-img {
    position: absolute;
    width: 600px;
    height: auto;
    bottom: -250px;
    right: 80px;
    transform: rotate(-20deg);
}

@media (max-width: 1300px) {
    .home_content_text p {
        font-size: 42px;
    }
}

@media (max-width: 1100px) {
    .home_content {
        gap: 20px;
    }
    .home_content_modelo3d {
        min-width: unset;
        max-width: 350px;
    }
}

@media (max-width: 1000px) {
    .home_content_modelo3d {
        /* max-width: 300px; */
    }
    .home_content_text span {
        line-height: unset;
    }
}

@media (max-width: 900px) {
    .home {
        padding: 0px 20px;
        padding-top: 100px;
    }

    .home_content {
        /* margin-top: 140px; */
        flex-direction: column;
        /* background-color: #36b6a9; */
        justify-content: center;
        align-items: center;
    }

    .home_content_modelo3d {
        margin-top: unset;
        flex: unset;
        width: 300px;
        height: 250px;
    }

    .home_content_text button {
        align-self: unset;
    }

    .home_content_text h1 {
        font-weight: 700;
        font-size: 42px;
        line-height: 40px;
        text-align: center;
    }

    .home_content_text p {
        /* margin: 10px 0px 20px 0px; */
        width: 100%;
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        margin: 10px 0;
        text-align: center;
    }

    .home_content_text>span {
        align-self: center;
        margin-top: 5px;
        line-height: 22px;
        font-size: 15px;
        text-align: center;
        margin: 10px 0;
    }

    .home_content_text button {
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .home_content_text button {
        font-size: 18px;
    }
}