.accesibilidad {
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    /* justify-content: center; */
    /* border: 1px solid black; */
}

.accesibilidad__titulo {
    font-size: 55px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}

.accesibilidad__subtitulo {
    width: 80%;
    margin: 20px 0;
    margin-bottom: 50px;
    text-align: center;
}

.accesibilidad_container {
    width: 100%;
    display: flex;
    flex:1;
    align-self: center;
    gap: 40px
}

.accesibilidad_container_section {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgb(206, 206, 206);
    background-color: white;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 460px;
    align-items: center;
    
}

.accesibilidad_container_titulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: rgb(241, 110, 63);
    padding-bottom: 28px;
}

.accesibilidad_container_right {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgb(206, 206, 206);
    background-color: white;
    flex: 1;
    height: 100%;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

@media (max-width: 1200px) {
    .accesibilidad_container {

        flex-direction: column;
        margin-bottom: 50px;
    }
    

}

@media (max-width: 620px) {
    .accesibilidad_container_section {

        max-height: 750px;
    }
    
    .accesibilidad__titulo {
        font-size: 42px;
    }

    .accesibilidad {
        padding: 20px;
    }
}

@media (max-width: 620px) {
    .accesibilidad__titulo {
        font-size: 36px;
    }
}